$flash-info-background: #a4a4a4;
$flash-info-text-shadow: #838484;
$flash-success-background: #1b942a;
$flash-success-text-shadow: #1a7e1c;
$flash-error-background: #ef9000;
$flash-error-text-shadow: #e8541c;

$flash-message-width: 500px;
$flash-message-h-padding: 15px;
// $flash-message-icon-padding: image-width("icon-info.png") + 15px;
$flash-message-icon-padding: 15px + 15px;
